.page1{
  background-image:url(./image/background-blue.png)
}
.text{
  color:white;
}
.service{
  background-image:url(./image/service-blue-background.png)
}
.testimonial{
  background-image:url(./image/testimonial.png)
}